
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}
<br />
<div class="content">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">Alexander Pierce</h3>
                    <h5 class="widget-user-desc">Founder &amp; CEO</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">3,200</h5>
                                <span class="description-text">Tweets</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">13,000</h5>
                                <span class="description-text">Following</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">35</h5>
                                <span class="description-text">Followers</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

        @*<div class="col-md-10">
            @foreach (var item in Model.Articles)
            {
                <div class="box box-widget">
                    <div class="box-header with-border">
                        <div class="user-block">
                            <img class="img-circle" src="@item.AppUser.UserImage" alt="User Image">
                            <span class="username"><a href="#">@item.AppUser.FirstName @item.AppUser.LastName</a></span>
                            <span class="description">@item.Header - @item.PublishDate</span>
                        </div>
                    </div>

                    <div class="box-body">

                        @if (item.Content.Length >= 300)
                        {
                            @item.Content.Substring(0, 300);
                            <span><a href="/Member/Article/Show/@item.ID">Read...</a></span>
                        }
                        else
                        {
                            @item.Content;
                            <span><a href="/Member/Article/Show/@item.ID">Read...</a></span>
                        }

                    </div>
                    <!-- Box Comment -->
                    <!-- /.box -->
                </div>
            }
            <!-- /.col -->
        </div>*@
        
    </div>
</div>
    


