
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/MemberLayoutPage.cshtml";
}

@model TwitterProject.UI.Areas.Member.Models.VM.TweetDetailVM

<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/ionicons.min.css" rel="stylesheet" />
<link href="~/Content/css/emoji.css" rel="stylesheet" />
<script src="~/Content/script/jquery.sticky-kit.min.js"></script>
<script src="~/Content/script/jquery.scrollbar.min.js"></script>
<script src="~/Content/script/script.js"></script>
<br />
<div class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">

                    <h3 class="widget-user-username">@Session["FullName"]</h3>
                    <h5 class="widget-user-desc">@Session["Bio"]</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="@Session["ImagePath"]" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@Model.Tweets.Count()</h5>
                                <span class="description-text">Tweets</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@Model.AppUser.Following</h5>
                                <span class="description-text">Following</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header">@Model.AppUser.Followers</h5>
                                <span class="description-text">Followers</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <form action="/Member/Tweet/AddTweet" method="post" role="form" enctype="multipart/form-data">

                    <div class="col-md-10">
                        <div class="box">
                            <div class="create-post">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea name="Content" value="" id="tweetcontent" cols="500" rows="1" class="form-control" placeholder="Write what you wish"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="tools">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <input type="file" name="Image" value="" id="imagefile" class="ion-images" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="box-footer box-comments col-md-12" id="dynamictweet">
                    @foreach (var item in Model.Tweets)
                    {
                        foreach (var item2 in Model.AppUsers)
                        {
                            if (item2.ID == item.AppUserID)
                            {
                                <div class="row">
                                    <div class="col-md-10">
                                        <!-- Box Comment -->
                                        <div class="box box-widget">
                                            <div class="box-header with-border">
                                                <div class="user-block">
                                                    <div class="col-md-11">
                                                        <img class="img-circle" src="@item2.UserImage" alt="User Image">
                                                        <span class="username"><a href="#">@item2.FirstName @item2.LastName</a></span> <span class="description"> @item.CreatedDate</span>
                                                    </div>
                                                    <div class="col-md-1">
                                                        
                                                        @if (item.AppUser.UserName == User.Identity.Name)
                                                        {
                                                            <a href="/Member/Tweet/DeleteTweet/@item.ID" type="button" onclick="commentdelete('@item.ID')" class="btn btn-default btn-xs"><i class="fa fa-trash-o"></i></a>
                                                        }
           

                                                    </div>

                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body" id="tweetlist">
                                                <img src="@item.ImagePath" class="img-responsive pad" alt="Photo">

                                                @if (item.Content.Length >= 300)
                                                {
                                                    @item.Content.Substring(0, 300);
                                                    <span><a href="/Member/Tweet/Show/@item.ID">Read...</a></span>
                                                }
                                                else
                                                {
                                                    @item.Content;
                                                    <span><a href="/Member/Tweet/Show/@item.ID">Read...</a></span>
                                                }
                                                <br />

                                            </div>

                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                            }
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>





    <script src="~/Content/Scripts/jquery.min.js"></script>

    <script>
      function like(id) {
           $.ajax({
                    type: "POST",
                    dataType: "Json",
                    url: "@Url.Action("AddLike","Like")/" + id,
                    success: function (data) {
                if (data.isSuccess == true) {
                            $("#message" + id).removeAttr("");
                            $("#like").remove();
                            $("#message" + id).html("");
                            $("#message" + id).append(data.userMessage);
                    $("#commentcount").hide().fadeOut(2000);
                    $("#tweetlist").append("<span class='pull-right text-muted' id='commentcount'>" + data.Likes + " likes  " + data.Comments + " comments</span>");
                        }
                        else {
                            $("#message" + id).removeAttr("");
                            $("#like").remove();
                            $("#message" + id).html("");
                            $("#message" + id).append(data.userMessage);
                        }
                    }
                })
        }
    </script>


